body{
  margin: 0;
  padding: 0;
  background: url(pk.jpg) no-repeat;
  background-size: cover;
}
.box{
  width: 225px;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px;
  text-align: center;
  margin: auto;
  margin-top: 2%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 25%;
  width: 100px;
  height: 100px;
}
.box h1{
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: 50;
}
.box h5{
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 50;
}
.box p{
  text-align: justify;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 3px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 30px;
  transition: all ease-in-out 1750ms;
}
.box li a:hover{
  color: #b9b9b9;
}
